.playlist-card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: left;
    margin-right: 40%;
    margin-left: 40%;
    border: .5px solid #F5F5F5;
}

.playlist-card {
    display: flex;
    align-items: center;
    margin: none;
    padding: 3px;
    font-family: 'Interstate Light Cond';
    } .playlist-card-song-title {
        margin: 0px;
        margin-left: 10px;
    } .playlist-card:hover {
        background-color: #F5F5F5;
        cursor: pointer;
    }
