.album-artwork {
    width: 200px;
}

.song-list-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Interstate Light Cond';
}

.user-profile-container {
    display: inline-block;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    align-items: center;
    position: relative;
}

body {
    background-color: #F2F2F2;
    text-align: center;
}

.profile-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 5%
}

.profile-banner-name {
    position: absolute;
    top: 8%;
    left: 20%;
    color: white;
    font-family: 'Interstate Regular Italic';
    font-size: 50px;
}

.profile-nav-wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: .5px solid #F2F2F2;
    padding: 12px 0px 12px 0px;
} .profile-nav-button {
    margin-right: 20px;
    font-family: 'Interstate Light Cond';
    font-weight: bold;
    cursor: pointer;
}

.selected {
    border-bottom: 1px solid black;
}

.image-button-container {
    position: relative;
}
.song-button-container {
    padding: 5px;
    display: inline-block;
    background-color: rgba(179, 177, 177, 0.3);
    box-shadow: 2px 5px 5px black;
    position: absolute;
    left: 0;

} .hidden {
    display: none;
}
.song-image {
    height: 15px;
    cursor: pointer;
}

.edit {
    height: 15px;
} .delete {
    height: 18px;
} .playlist {
    height: 18px;
}

.playlist-modal {
    background-color: aquamarine;
    position: absolute;
    top: 15%;
    left: 35%;
    right: 35%;
    bottom: 15%;
    border: none;
    outline: none;
}

