.album-artwork {
    width: 200px;
}

.song-list-container {
    display: flex;
    justify-content: center;
}

.user-profile-container {
    display: inline-block;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    align-items: center;
    position: relative;
}

body {
    background-color: #F2F2F2;
    text-align: center;
}

.profile-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 5%
}

.profile-banner-name {
    position: absolute;
    top: 8%;
    left: 20%;
    color: white;
    font-family: 'Interstate Regular Italic';
    font-size: 50px;
}

.profile-nav-wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: .5px solid #F2F2F2;
    padding: 12px 0px 12px 0px;
} .profile-nav-button {
    margin-right: 20px;
    font-family: 'Interstate Light Cond';
    cursor: pointer;
}

.selected {
    border-bottom: 1px solid black;
}
