.album-artwork {
    width: 200px;
}

.song-list-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Interstate Light Cond';

}

.user-profile-container {
    display: inline-block;
    flex-direction: column;
    background-color: white;
    margin-top: 2%;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);

}

body {
    background-color: #F2F2F2;
    text-align: center;
    overflow: hidden;
}

.profile-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 5%
}

.profile-banner-name {
    position: absolute;
    top: 8%;
    left: 20%;
    color: white;
    font-family: 'Interstate Regular Italic';
    font-size: 50px;
}

.profile-nav-wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: .5px solid #F2F2F2;
    padding: 12px 0px 12px 0px;
    z-index: 2;
} .profile-nav-button {
    margin-right: 20px;
    font-family: 'Interstate Light Cond';
    font-weight: bold;
    cursor: pointer;

}

.selected {
    border-bottom: 1px solid black;
}

.image-button-container {
    position: relative;
}
.song-button-container {
    padding: 5px;
    display: inline-block;
    background-color: rgba(179, 177, 177, 0.3);
    box-shadow: 2px 5px 5px black;
    position: absolute;
    left: 0;

} .hidden {
    display: none;
}
.song-image {
    height: 15px;
    cursor: pointer;
}

.edit {
    height: 15px;
} .delete {
    height: 18px;
} .playlist {
    height: 18px;
}

.playlist-modal {
    background-color: aquamarine;
    position: absolute;
    top: 20%;
    left: 40%;
    right: 40%;
    bottom: 20%;
    border: none;
    outline: none;
    overflow: hidden;
}

.user-profile-spinning-img {
    position:absolute;
    right: 70%;
    top: 30%;
    z-index: 0;
    height: 1500px;
}

@media (prefers-reduced-motion: no-preference) {
    .modal-img {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
