body, html {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.splash-page {
    display: flex;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} .splash-page-header {
    font-family:'Interstate Black Cond';
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    height: 150px;
}

.splash-page-img {
    width: 740px;
    height: 740px;
    border-radius: 100%;
    position: fixed;
    overflow: hidden;

  } #splash-page-text {
      font-family: 'Interstate Black Cond';
      color: white;
      font-size: 40px;
      margin: 30px 0px 15px 0px;

  } #splash-page-text-2 {
    font-family: 'Interstate Black Cond';
    margin: 0px;
    cursor: pointer;

} .splash-page-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .splash-page-button-container {
      margin: 0px 0px 0px 0px;
      padding: 0px;
      z-index: 1;
      display: flex;
  }
  .form-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
  }

  .login-form-text-input {
    font-family: 'Interstate Light Cond';
  } .login-button {
    outline: .4px solid #F5F5F5;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Interstate Light Cond';
    padding: 5px;
  } .login-text {
    font-family: 'Interstate Light Cond';
  }

  .splash-page-link {
    font-family: 'Interstate Black Cond';
    text-decoration: none;
    color: black;
  }
  .splash-page-link:visited {
    text-decoration: none;
    color: black;
  }

  .playlist-modal {
    background-color: aquamarine;
    position: absolute;
    top: 20%;
    left: 42%;
    right: 42%;
    bottom: 20%;
    border: none;
    overflow: hidden;
    outline-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  }


  @media (prefers-reduced-motion: no-preference) {
    .splash-page-img {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
