.navbar-upper {
    background-color: aquamarine;
    height: 50px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Interstate Black Cond';
    font-size: 30px;
} .navbar-logo-text-2 {
    color: white;
}

.navbar-lower {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    height: 22px;
} .navbar-image {
    height: 12px;
}

.navbar-link {
 color: white;
 text-decoration: none;
 font-family: 'Interstate Black Cond';
 font-size: 15px;
 margin: 0 5px 0 5px;
} .navbar-link:visited {
    text-decoration: none;
    color: white;
  }
